{erl_opts, [
    {src_dirs, ["src", "test"]}
]}.

{deps, [
    {et, ".*",
        {git, "git://github.com/erlang-toolkit/et.git",
        % Moving target during development.
        {branch, "master"}}},

    {etest, ".*",
        {git, "git://github.com/wooga/etest.git",
        {tag, "b34a08404f29e241b5b2bc7fd00c9c2d59fe3eaa"}}},

    {ebloom, ".*",
        {git, "git://github.com/basho/ebloom.git",
        {tag, "ff0371df3c2a5b68e492bd00340cc587ce6c8ff1"}}}
]}.
