{erl_opts, [
    {src_dirs, ["src", "test"]}
]}.

{deps, [
    % Common routines.
    {et, ".*",
        {git, "git://github.com/erlang-toolkit/et.git",
        % Moving target during development.
        {branch, "master"}}},

    % ETest testing framework instead of EUnit.
    {etest, ".*",
        {git, "git://github.com/wooga/etest.git",
        {tag, "b34a08404f29e241b5b2bc7fd00c9c2d59fe3eaa"}}},

    % Erlang NIF bloom filter implementation.
    {ebloom, ".*",
        {git, "git://github.com/basho/ebloom.git",
        {tag, "ff0371df3c2a5b68e492bd00340cc587ce6c8ff1"}}},

    % Connection handling of the redis interface.
    {ranch, ".*",
        {git, "git://github.com/extend/ranch.git",
        {tag, "fd4b7f92473c677d57879cbda73622948ac474fc"}}},

    % For integration testing the redis interface.
    {eredis, ".*",
        {git, "git://github.com/wooga/eredis.git",
        {tag, "d46a4fd609cdc09aa4e259adb33d8e7613d7515e"}}}
]}.
